p svg .st0 {
  fill: #444444;
}

p svg .st1 {
  fill: none;
  stroke: #ffffff !important;
  stroke-miterlimit: 10;
}

p svg .st2 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.7117, 2.7838, 3.7117, 2.7838;
}

p svg .st3 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-dasharray: 3.7117, 2.7838, 3.7117, 2.7838, 3.7117, 2.7838;
}

p svg .st4 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.5793, 3.4345, 4.5793, 3.4345;
}

p svg .st5 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-dasharray: 4.5793, 3.4345, 4.5793, 3.4345, 4.5793, 3.4345;
}

p svg .st6 {
  fill: #ffffff !important;
}

p svg .st7 {
  fill: #bee1f4 !important;
}

p svg .st8 {
  fill: #a7d8f9 !important;
}

p svg .st9 {
  fill: #8ec6f4 !important;
}

p svg .st10 {
  fill: #76b5f4 !important;
}

p svg .st11 {
  fill: #64a0e8 !important;
}

p svg .st12 {
  fill: #568bd8;
}

p svg .st13 {
  fill: #4b78c6;
}

p svg .st14 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

p svg .st15 {
  display: none;
}

p svg .st16 {
  display: inline;
  fill: none;
}

p svg .st17 {
  display: inline;
  fill: #fffcd7;
}

p svg .st18 {
  font-family: "Ubuntu-Medium";
}

p svg .st19 {
  font-size: 18px;
}

p svg .st20 {
  display: inline;
}

p svg .st21 {
  fill: #fffcd7 !important;
}

p svg .st22 {
  font-size: 11px;
}

p svg .st23 {
  display: inline;
  fill: #ffffff;
}

p svg .st24 {
  fill: none;
}

p svg .st25 {
  font-size: 12px;
}

p svg .st26 {
  display: inline;
  fill: #4b78c6;
}

p svg .st27 {
  display: inline;
  fill: #568bd8;
}

p svg .st28 {
  display: inline;
  fill: #64a0e8;
}

p svg .st29 {
  display: inline;
  fill: #76b5f4;
}

p svg .st30 {
  display: inline;
  fill: #8ec6f4;
}

p svg .st31 {
  display: inline;
  fill: #a7d8f9;
}

p svg .st32 {
  display: inline;
  fill: #bee1f4;
}
