                /* pitch1 */
                .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: none
                }

                .st1 {
                    fill: #595a5a
                }

                .st5 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st6 {
                    font-size: 48px
                }

                .st7 {
                    display: none
                }

                .st8 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st8,
                .st9 {
                    display: inline
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st14 {
                    font-size: 12px
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st36 {
                    font-family: &quot;
                    Ubuntu-Medium&quot;
                }

                .st38 {
                    font-size: 50.474px
                }

                .st39 {
                    font-size: 27.6766px
                }

                .st40 {
                    font-size: 31.6304px
                }

                .st41 {
                    font-size: 23.0379px
                }

                .st43,
                .st44 {
                    display: inline
                }

                .st43 {
                    fill: #fdd7c7;
                    stroke: #b7cabb;
                    stroke-width: .75;
                    stroke-miterlimit: 10
                }

                .st44 {
                    fill: #88a78d
                }

                .st45 {
                    fill: none;
                    stroke: #b7cabb;
                    stroke-miterlimit: 10
                }

                .st45,
                .st46 {
                    display: inline
                }

                .st46,
                .st47 {
                    fill: #121212
                }

                .st48 {
                    font-size: 13px
                }

                .st49 {
                    fill: #e9f5f5
                }

                .st50 {
                    font-size: 14.7717px
                }

                .st51 {
                    display: inline;
                    fill: #b5b5b6
                }

                .st52 {
                    font-size: 23px
                }

                .st53 {
                    fill: #56746e
                }

                .st54 {
                    font-size: 20px
                }


                /* pitch3 */
                  .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }
                /* pitch4 */
                
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st19 {
                    fill: #56746e
                }

                .st20 {
                    font-size: 18.9921px
                }

                .st21 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st22 {
                    font-size: 13.3648px
                }
            /* pitch5 */
            
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st15 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st17,
                .st19 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st19 {
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    fill: #56746e
                }

                .st27 {
                    font-size: 21px
                }
            /* pitch6 */

          
             
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st15 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st17,
                .st19 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st19 {
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st28 {
                    fill: #56746e
                }
            /* pitch7 */
            
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st17,
                .st19 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st19 {
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st28 {
                    fill: #f9ae9d
                }
                /* Pitch8 */
                
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st28 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }
            /* pitch9 */
            
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30 {
                    fill: #f8ddd7
                }

                .st30,
                .st31,
                .st37,
                .st38 {
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    display: inline;
                    fill: none
                }

                .st37,
                .st38 {
                    fill: #f8ddd7
                }

                .st38 {
                    fill: none
                }

                .st41 {
                    fill: #020202
                }
          /* pitch10 */
          
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st38,
                .st39 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st39 {
                    fill: none
                }

                .st43 {
                    fill: #020202
                }

                .st44 {
                    font-size: 27.6766px
                }

                .st45 {
                    font-size: 31.6304px
                }
                /* pitch11 */
                
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st14 {
                    font-size: 12px
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st36 {
                    font-family: &quot;
                    Ubuntu-Medium&quot;
                }

                .st38 {
                    font-size: 50.474px
                }

                .st39 {
                    font-size: 27.6766px
                }

                .st40 {
                    font-size: 31.6304px
                }

                .st41 {
                    font-size: 23.0379px
                }

                .st43 {
                    fill: #fdd7c7;
                    stroke: #b7cabb;
                    stroke-width: .75;
                    stroke-miterlimit: 10
                }

                .st44 {
                    fill: #88a78d
                }

                .st45 {
                    fill: none;
                    stroke: #b7cabb;
                    stroke-miterlimit: 10
                }

                .st46 {
                    fill: #121212
                }

                .st47 {
                    font-size: 13px
                }
      
          /* pitch12 */
          
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st14 {
                    font-size: 12px
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st36 {
                    font-family: &quot;
                    Ubuntu-Medium&quot;
                }

                .st38 {
                    font-size: 50.474px
                }

                .st39 {
                    font-size: 27.6766px
                }

                .st40 {
                    font-size: 31.6304px
                }

                .st41 {
                    font-size: 23.0379px
                }

                .st43,
                .st44 {
                    display: inline
                }

                .st43 {
                    fill: #fdd7c7;
                    stroke: #b7cabb;
                    stroke-width: .75;
                    stroke-miterlimit: 10
                }

                .st44 {
                    fill: #88a78d
                }

                .st45 {
                    fill: none;
                    stroke: #b7cabb;
                    stroke-miterlimit: 10
                }

                .st45,
                .st46 {
                    display: inline
                }

                .st46,
                .st47 {
                    fill: #121212
                }

                .st48 {
                    font-size: 13px
                }

                .st49 {
                    fill: #e9f5f5
                }

                .st50 {
                    font-size: 14.7717px
                }

                .st51 {
                    fill: #b5b5b6
                }

                .st52 {
                    font-size: 23px
                }
                /* pitch13 */
                
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st14 {
                    font-size: 12px
                }

                .st15 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st36 {
                    font-family: &quot;
                    Ubuntu-Medium&quot;
                }

                .st38 {
                    font-size: 50.474px
                }

                .st39 {
                    font-size: 27.6766px
                }

                .st40 {
                    font-size: 31.6304px
                }

                .st41 {
                    font-size: 23.0379px
                }

                .st43,
                .st44 {
                    display: inline
                }

                .st43 {
                    fill: #fdd7c7;
                    stroke: #b7cabb;
                    stroke-width: .75;
                    stroke-miterlimit: 10
                }

                .st44 {
                    fill: #88a78d
                }

                .st45 {
                    fill: none;
                    stroke: #b7cabb;
                    stroke-miterlimit: 10
                }

                .st45,
                .st46 {
                    display: inline
                }

                .st46,
                .st47 {
                    fill: #121212
                }

                .st48 {
                    font-size: 13px
                }

                .st49 {
                    fill: #e9f5f5
                }

                .st50 {
                    font-size: 14.7717px
                }

                .st51 {
                    display: inline;
                    fill: #b5b5b6
                }

                .st52 {
                    font-size: 23px
                }

                .st53 {
                    fill: #56746e
                }

                .st54 {
                    font-size: 20px
                }
          /* pitch14 */
                      
                .st0 {
                    display: none
                }

                .st1 {
                    display: inline
                }

                .st3 {
                    fill: #595a5a
                }

                .st4 {
                    font-family: &quot;
                    BodoniMT&quot;
                }

                .st5 {
                    font-size: 36px
                }

                .st9 {
                    display: inline;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #fff1ec
                }

                .st10 {
                    fill: none
                }

                .st11 {
                    fill: #7f7f7f
                }

                .st12 {
                    font-family: &quot;
                    Ubuntu&quot;
                }

                .st14 {
                    font-size: 12px
                }

                .st17 {
                    display: inline;
                    fill: #7f7f7f
                }

                .st18 {
                    font-size: 19px
                }

                .st19 {
                    display: inline;
                    fill: none
                }

                .st20 {
                    font-size: 41px
                }

                .st21 {
                    display: inline;
                    fill: #56746e
                }

                .st22 {
                    font-size: 18.9921px
                }

                .st23 {
                    display: inline;
                    fill: #595a5a
                }

                .st24 {
                    font-family: &quot;
                    ArialMT&quot;
                }

                .st25 {
                    font-size: 13.3648px
                }

                .st26 {
                    font-size: 21px
                }

                .st27 {
                    font-size: 44px
                }

                .st28,
                .st30,
                .st31 {
                    display: inline;
                    fill: #f9ae9d
                }

                .st30,
                .st31 {
                    fill: #f8ddd7;
                    stroke: #fdd7c7;
                    stroke-miterlimit: 10
                }

                .st31 {
                    fill: none
                }

                .st32 {
                    fill: #e9f5f5
                }

                .st32,
                .st33,
                .st34 {
                    display: inline
                }

                .st33 {
                    fill: none;
                    stroke: #e9f5f5;
                    stroke-miterlimit: 10
                }

                .st34 {
                    fill: #020202
                }

                .st36 {
                    font-family: &quot;
                    Ubuntu-Medium&quot;
                }

                .st38 {
                    font-size: 50.474px
                }

                .st39 {
                    font-size: 27.6766px
                }

                .st40 {
                    font-size: 31.6304px
                }

                .st41 {
                    font-size: 23.0379px
                }

                .st43,
                .st44 {
                    display: inline
                }

                .st43 {
                    fill: #fdd7c7;
                    stroke: #b7cabb;
                    stroke-width: .75;
                    stroke-miterlimit: 10
                }

                .st44 {
                    fill: #88a78d
                }

                .st45 {
                    fill: none;
                    stroke: #b7cabb;
                    stroke-miterlimit: 10
                }

                .st45,
                .st46 {
                    display: inline
                }

                .st46,
                .st47 {
                    fill: #121212
                }

                .st48 {
                    font-size: 13px
                }

                .st49 {
                    fill: #e9f5f5
                }

                .st50 {
                    font-size: 14.7717px
                }

                .st51 {
                    display: inline;
                    fill: #b5b5b6
                }

                .st52 {
                    font-size: 23px
                }

                .st53 {
                    fill: #56746e
                }

                .st54 {
                    font-size: 20px
                }
            
            
           